body  {font-family: "ו";font-size:9pt;background-color:#ffffff;margin-left:0pt;margin-top:0pt}
td,input,select {font-family:ו;font-size:9pt; color:#000000}

A:link,A:active,A:visited {text-decoration: none; color: #555555}
A:hover {text-decoration: underline; color:#b40000}
