body{font-family:宋体;font-size:9pt;SCROLLBAR-FACE-COLOR:#ADC3E7; FONT-SIZE: 9pt; SCROLLBAR-HIGHLIGHT-COLOR: #ADC3E7; SCROLLBAR-SHADOW-COLOR: white; SCROLLBAR-3DLIGHT-COLOR: #ADC3E7; SCROLLBAR-ARROW-COLOR:white; SCROLLBAR-TRACK-COLOR:white; FONT-FAMILY: 宋体; SCROLLBAR-DARKSHADOW-COLOR: #ADC3E7}
td{font-family:宋体;font-size:9pt}
tr{font-family:宋体;font-size:9pt}
table{font-family:宋体;font-size:9pt}
INPUT{BORDER-TOP-WIDTH: 1px; PADDING-RIGHT: 1px; PADDING-LEFT: 1px; BORDER-LEFT-WIDTH: 1px; FONT-SIZE: 9pt; BORDER-LEFT-COLOR: #cccccc; BORDER-BOTTOM-WIDTH: 1px; BORDER-BOTTOM-COLOR: #cccccc; PADDING-BOTTOM: 1px; BORDER-TOP-COLOR: #cccccc; PADDING-TOP: 1px; HEIGHT: 18px; BORDER-RIGHT-WIDTH: 1px; BORDER-RIGHT-COLOR: #cccccc; font-size: 9pt}
textarea {border-width: 1; border-color: #000000;font-size: 9pt}
a:link{text-decoration:none;color:#000000}
a:visited{text-decoration:none;color:#000000}
a:active{text-decoration:none;color:#000080}
a:hover{text-decoration:none;color:#2953C0}