body {
	background-image: url(../style/Sty04/kabg.gif);
}

marquee {
	color: #F4D9DD;
}
.Input {
	border:1px inset #cccccc;
	color:#333333;
	width: 240px;
}

.OuterTable {
	border: 1px solid #B26B7B;
}

.OuterHead {
	background-color: #f6f6f6;
	color: #000000;
	background-image: url(../style/Sty04/z3.gif);
}

.OuterFoot {
	height:5px;
	background-color: #f6f6f6;
	color: #000000;
	background-image: url(../style/Sty04/z3.gif);
}

.InnerTable {
	background-color: #D498A4;
}
.InnerHead {
	background-color: #F4D9DD;
	border-top-width: 1px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #FFFFFF;
	border-right-color: #FFFFFF;
	border-bottom-color: #FFFFFF;
	border-left-color: #FFFFFF;
	text-align: center;
	padding: 3px;
}

.InnerMain {
	background-color: #FFFFFF;
	padding: 1px;
}

.InnerTitleFont {
	font-size: 9pt;
	font-weight: bold;
}

.NoBorderTextArea {
	border: none;
}

.innerFoot {
	background-color: #f6f6f6;
	border-top-width: 0px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #CCCCCC;
	border-right-color: #CCCCCC;
	border-bottom-color: #CCCCCC;
	border-left-color: #CCCCCC;
	padding: 3px;
}

.GenButton {
	width: 75px;
	border-width: 1px;
}
.styTdBGLine {
	background-color: #FFFFFF;
	background-image: url(../images/Line.GIF);
	background-repeat: repeat-x;
	background-position: bottom;
}

.Column {
	background-color: #F4D9DD;
	width: 18px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 0px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #000000;
	border-right-color: #000000;
	border-bottom-color: #000000;
	border-left-color: #000000;
	text-align:center;
	overflow:hidden;
	cursor:default;
	/*filter:progid:DXImageTransform.Microsoft.gradient(startColorStr=#D6EBFF,endColorStr=#63AADE,GradientType=0);*/
}

.Column1 {
	background-color: #D498A4;
	width: 18px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 0px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #000000;
	border-right-color: #000000;
	border-bottom-color: #000000;
	border-left-color: #000000;
	text-align:center;
	overflow:hidden;
	cursor:default;
	/*filter:progid:DXImageTransform.Microsoft.gradient(startColorStr=#D6EBFF,endColorStr=#63AADE,GradientType=0);*/
	/*behavior:url(../Style/Column.htc);*/
}

.HotColumn1 {
	background-color: #D498A4;
	width: 18px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 0px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #FF0000;
	border-right-color: #FF0000;
	border-bottom-color: #FF0000;
	border-left-color: #FF0000;
	text-align:center;
	overflow:hidden;
	cursor:default;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorStr=#D6EBFF,endColorStr=#63AADE,GradientType=0);
	/*behavior:url(../Style/Column.htc);*/
}

.ColumnH {
	font-size: 8pt;
	background-color: #D498A4;
	height: 16px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 0px;
	border-style: solid;
	border-color: #000000;
	text-align: right;
	overflow: hidden;
	cursor: default;
	vertical-align:middle;
	text-overflow: ellipsis;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorStr=#63AADE,endColorStr=#D6EBFF,GradientType=1);
}

.HotColumnH {
	font-size: 8pt;
	background-color: #D498A4;
	height: 16px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 0px;
	border-style: solid;
	border-color: #FF0000;
	text-align:right;
	overflow: hidden;
	cursor: default;
	vertical-align:middle;
	text-overflow: ellipsis;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorStr=#63AADE,endColorStr=#D6EBFF,GradientType=1);
}

.SubHeader {
	color: #F4D9DD;
}

.stySmallBtnTop {
	font-size: 8px;
	font-family: "Webdings";
	height: 24px;
	width: 16px;
	background-image: url(../style/Sty04/z3.gif);
	color:#ffffff;
	background-position: Top;
	border-width: 1px;
}
.stySmallBtnBott {
	font-size: 8px;
	font-family: "Webdings";
	height: 24px;
	width: 16px;
	background-image: url(../style/Sty04/z3.gif);
	color:#ffffff;
	background-position: bottom;
	border-width: 1px;
}

.ThinBorderText{
	border-width:1px;
	background-color: #F4D9DD;
	background-image: url(../style/Sty04/z3.gif);
}

.HeadTable {
	border-bottom: 1px solid black;
}

.CodingInfo {
	color: #F4D9DD;
}

#ItemTitle {
	color: #ffffff;
}

.NumberFlag {
	text-decoration: underline;
}

.TimeWord { height:150px;text-align:left;writing-mode:tb-rl;font-size:8pt;text-overflow:ellipsis; }
.box{border:1px solid #C0C0C0;width:60px;height:19px;clip:rect(0px,181px,18px,0px);overflow:hidden;}
.box2{border:1px solid #F4F4F4;width:58px;height:17px;clip:rect(0px,179px,16px,0px);overflow:hidden;}
select{position:relative;left:-2px;top:-2px;font-size:12px;width:61px;line-height:14px;border:0px;color:#F4D9DD;background-color:#D498A4;}
.button{height:20px;border-width:1px;color:#F4D9DD;background-color:#D498A4;background-image: url(../style/Sty04/z3.gif);}
